<div class="box box-primary">
<div class="box-body no-padding">
<!-- THE CALENDAR -->
<div class="fc fc-unthemed fc-ltr" id="calendar">
<div class="fc-toolbar fc-header-toolbar">
<div class="fc-left">
<div class="fc-button-group">
<button aria-label="prev" class="fc-prev-button fc-button fc-state-default fc-corner-left" type="button">
<%= link_to calendar.url_for_previous_view %>
<span class="fc-icon fc-icon-left-single-arrow"></span>
</button>
<button aria-label="next" class="fc-next-button fc-button fc-state-default fc-corner-right" type="button">
<span class="fc-icon fc-icon-right-single-arrow"></span>
</button>
</div>
<button class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="disabled" type="button">today</button>
</div>
<div class="fc-right">
<div class="fc-button-group">
<button class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active" type="button">month</button>
<button class="fc-agendaWeek-button fc-button fc-state-default" type="button">week</button>
<button class="fc-agendaDay-button fc-button fc-state-default fc-corner-right" type="button">day</button>
</div>
</div>
<div class="fc-center">
<h2><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></h2>
</div>
<div class="fc-clear"></div>
</div>
<div class="fc-view-container">
<div class="fc-view fc-month-view fc-basic-view">
<table>
<thead class="fc-head">
<tr>
<td class="fc-head-container fc-widget-header">
<div class="fc-row fc-widget-header">
<table>
<thead>
<tr>
<th class="fc-day-header fc-widget-header fc-sun">
<span>Sun</span>
</th>
<th class="fc-day-header fc-widget-header fc-mon">
<span>Mon</span>
</th>
<th class="fc-day-header fc-widget-header fc-tue">
<span>Tue</span>
</th>
<th class="fc-day-header fc-widget-header fc-wed">
<span>Wed</span>
</th>
<th class="fc-day-header fc-widget-header fc-thu">
<span>Thu</span>
</th>
<th class="fc-day-header fc-widget-header fc-fri">
<span>Fri</span>
</th>
<th class="fc-day-header fc-widget-header fc-sat">
<span>Sat</span>
</th>
</tr>
</thead>
</table>
</div>
</td>
</tr>
</thead>
<tbody class="fc-body">
<tr>
<td class="fc-widget-content">
<div class="fc-scroller fc-day-grid-container" style="overflow: hidden; height: 790.4517211914063px;">
<div class="fc-day-grid fc-unselectable">
<div class="fc-row fc-week fc-widget-content" style="height: 131px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2019-03-31"></td>
<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-01"></td>
<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-02"></td>
<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-03"></td>
<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-04"></td>
<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-05"></td>
<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-06"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-other-month fc-past" data-date="2019-03-31">
<span class="fc-day-number">31</span>
</td>
<td class="fc-day-top fc-mon fc-past" data-date="2019-04-01">
<span class="fc-day-number">1</span>
</td>
<td class="fc-day-top fc-tue fc-past" data-date="2019-04-02">
<span class="fc-day-number">2</span>
</td>
<td class="fc-day-top fc-wed fc-past" data-date="2019-04-03">
<span class="fc-day-number">3</span>
</td>
<td class="fc-day-top fc-thu fc-past" data-date="2019-04-04">
<span class="fc-day-number">4</span>
</td>
<td class="fc-day-top fc-fri fc-past" data-date="2019-04-05">
<span class="fc-day-number">5</span>
</td>
<td class="fc-day-top fc-sat fc-past" data-date="2019-04-06">
<span class="fc-day-number">6</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td class="fc-event-container">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable fc-resizable" style="background-color:rgb(243, 156, 18);border-color:rgb(255, 255, 255)">
<div class="fc-content">
<span class="fc-title">Go home</span>
</div>
<div class="fc-resizer fc-end-resizer"></div>
</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="fc-row fc-week fc-widget-content" style="height: 131px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2019-04-07"></td>
<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-08"></td>
<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-09"></td>
<td class="fc-day fc-widget-content fc-wed fc-past" data-date="2019-04-10"></td>
<td class="fc-day fc-widget-content fc-thu fc-past" data-date="2019-04-11"></td>
<td class="fc-day fc-widget-content fc-fri fc-past" data-date="2019-04-12"></td>
<td class="fc-day fc-widget-content fc-sat fc-past" data-date="2019-04-13"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-past" data-date="2019-04-07">
<span class="fc-day-number">7</span>
</td>
<td class="fc-day-top fc-mon fc-past" data-date="2019-04-08">
<span class="fc-day-number">8</span>
</td>
<td class="fc-day-top fc-tue fc-past" data-date="2019-04-09">
<span class="fc-day-number">9</span>
</td>
<td class="fc-day-top fc-wed fc-past" data-date="2019-04-10">
<span class="fc-day-number">10</span>
</td>
<td class="fc-day-top fc-thu fc-past" data-date="2019-04-11">
<span class="fc-day-number">11</span>
</td>
<td class="fc-day-top fc-fri fc-past" data-date="2019-04-12">
<span class="fc-day-number">12</span>
</td>
<td class="fc-day-top fc-sat fc-past" data-date="2019-04-13">
<span class="fc-day-number">13</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td class="fc-event-container">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#f56954;border-color:#f56954">
<div class="fc-content">
<span class="fc-time">12a</span>
<span class="fc-title">All Day Event</span>
</div>
</a>
</td>
<td></td>
<td></td>
<td></td>
<td class="fc-event-container" colspan="2">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-not-end fc-draggable" style="background-color:#f39c12;border-color:#f39c12">
<div class="fc-content">
<span class="fc-time">12a</span>
<span class="fc-title">Long Event</span>
</div>
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="fc-row fc-week fc-widget-content" style="height: 131px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-past" data-date="2019-04-14"></td>
<td class="fc-day fc-widget-content fc-mon fc-past" data-date="2019-04-15"></td>
<td class="fc-day fc-widget-content fc-tue fc-past" data-date="2019-04-16"></td>
<td class="fc-day fc-widget-content fc-wed fc-today" data-date="2019-04-17"></td>
<td class="fc-day fc-widget-content fc-thu fc-future" data-date="2019-04-18"></td>
<td class="fc-day fc-widget-content fc-fri fc-future" data-date="2019-04-19"></td>
<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2019-04-20"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-past" data-date="2019-04-14">
<span class="fc-day-number">14</span>
</td>
<td class="fc-day-top fc-mon fc-past" data-date="2019-04-15">
<span class="fc-day-number">15</span>
</td>
<td class="fc-day-top fc-tue fc-past" data-date="2019-04-16">
<span class="fc-day-number">16</span>
</td>
<td class="fc-day-top fc-wed fc-today" data-date="2019-04-17">
<span class="fc-day-number">17</span>
</td>
<td class="fc-day-top fc-thu fc-future" data-date="2019-04-18">
<span class="fc-day-number">18</span>
</td>
<td class="fc-day-top fc-fri fc-future" data-date="2019-04-19">
<span class="fc-day-number">19</span>
</td>
<td class="fc-day-top fc-sat fc-future" data-date="2019-04-20">
<span class="fc-day-number">20</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td class="fc-event-container" rowspan="2">
<a class="fc-day-grid-event fc-h-event fc-event fc-not-start fc-end fc-draggable" style="background-color:#f39c12;border-color:#f39c12">
<div class="fc-content">
<span class="fc-title">Long Event</span>
</div>
</a>
</td>
<td rowspan="2"></td>
<td rowspan="2"></td>
<td class="fc-event-container">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#0073b7;border-color:#0073b7">
<div class="fc-content">
<span class="fc-time">10:30a</span>
<span class="fc-title">Meeting</span>
</div>
</a>
</td>
<td class="fc-event-container" rowspan="2">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#00a65a;border-color:#00a65a">
<div class="fc-content">
<span class="fc-time">7p</span>
<span class="fc-title">Birthday Party</span>
</div>
</a>
</td>
<td rowspan="2"></td>
<td rowspan="2"></td>
</tr>
<tr>
<td class="fc-event-container">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" style="background-color:#00c0ef;border-color:#00c0ef">
<div class="fc-content">
<span class="fc-time">12p</span>
<span class="fc-title">Lunch</span>
</div>
</a>
</td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="fc-row fc-week fc-widget-content" style="height: 131px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2019-04-21"></td>
<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-22"></td>
<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-23"></td>
<td class="fc-day fc-widget-content fc-wed fc-future" data-date="2019-04-24"></td>
<td class="fc-day fc-widget-content fc-thu fc-future" data-date="2019-04-25"></td>
<td class="fc-day fc-widget-content fc-fri fc-future" data-date="2019-04-26"></td>
<td class="fc-day fc-widget-content fc-sat fc-future" data-date="2019-04-27"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-future" data-date="2019-04-21">
<span class="fc-day-number">21</span>
</td>
<td class="fc-day-top fc-mon fc-future" data-date="2019-04-22">
<span class="fc-day-number">22</span>
</td>
<td class="fc-day-top fc-tue fc-future" data-date="2019-04-23">
<span class="fc-day-number">23</span>
</td>
<td class="fc-day-top fc-wed fc-future" data-date="2019-04-24">
<span class="fc-day-number">24</span>
</td>
<td class="fc-day-top fc-thu fc-future" data-date="2019-04-25">
<span class="fc-day-number">25</span>
</td>
<td class="fc-day-top fc-fri fc-future" data-date="2019-04-26">
<span class="fc-day-number">26</span>
</td>
<td class="fc-day-top fc-sat fc-future" data-date="2019-04-27">
<span class="fc-day-number">27</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="fc-row fc-week fc-widget-content" style="height: 131px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-future" data-date="2019-04-28"></td>
<td class="fc-day fc-widget-content fc-mon fc-future" data-date="2019-04-29"></td>
<td class="fc-day fc-widget-content fc-tue fc-future" data-date="2019-04-30"></td>
<td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-01"></td>
<td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-02"></td>
<td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-03"></td>
<td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-04"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-future" data-date="2019-04-28">
<span class="fc-day-number">28</span>
</td>
<td class="fc-day-top fc-mon fc-future" data-date="2019-04-29">
<span class="fc-day-number">29</span>
</td>
<td class="fc-day-top fc-tue fc-future" data-date="2019-04-30">
<span class="fc-day-number">30</span>
</td>
<td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2019-05-01">
<span class="fc-day-number">1</span>
</td>
<td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2019-05-02">
<span class="fc-day-number">2</span>
</td>
<td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2019-05-03">
<span class="fc-day-number">3</span>
</td>
<td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2019-05-04">
<span class="fc-day-number">4</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td class="fc-event-container">
<a class="fc-day-grid-event fc-h-event fc-event fc-start fc-end fc-draggable" href="http://google.com/" style="background-color:#3c8dbc;border-color:#3c8dbc">
<div class="fc-content">
<span class="fc-time">12a</span>
<span class="fc-title">Click for Google</span>
</div>
</a>
</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
<div class="fc-row fc-week fc-widget-content" style="height: 135px;">
<div class="fc-bg">
<table>
<tbody>
<tr>
<td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2019-05-05"></td>
<td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2019-05-06"></td>
<td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2019-05-07"></td>
<td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2019-05-08"></td>
<td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2019-05-09"></td>
<td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2019-05-10"></td>
<td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2019-05-11"></td>
</tr>
</tbody>
</table>
</div>
<div class="fc-content-skeleton">
<table>
<thead>
<tr>
<td class="fc-day-top fc-sun fc-other-month fc-future" data-date="2019-05-05">
<span class="fc-day-number">5</span>
</td>
<td class="fc-day-top fc-mon fc-other-month fc-future" data-date="2019-05-06">
<span class="fc-day-number">6</span>
</td>
<td class="fc-day-top fc-tue fc-other-month fc-future" data-date="2019-05-07">
<span class="fc-day-number">7</span>
</td>
<td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2019-05-08">
<span class="fc-day-number">8</span>
</td>
<td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2019-05-09">
<span class="fc-day-number">9</span>
</td>
<td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2019-05-10">
<span class="fc-day-number">10</span>
</td>
<td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2019-05-11">
<span class="fc-day-number">11</span>
</td>
</tr>
</thead>
<tbody>
<tr>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</td>
</tr>
</tbody>
</table>
</div>
</div>
</div>
</div>
</div>




<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: 'Previous'), calendar.url_for_previous_view %>
    <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
    <%= start_date %>
    <%= link_to t('simple_calendar.next', default: 'Next'), calendar.url_for_next_view %>
  </div>

  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &block) %>
              <% else %>
                <% block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
